*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix{
    content: '';
    display: table;
    clear: both;
}

nav{
    width: 100vw;
    height: auto;
    position: fixed;

}
    
ul, li{
    display: inline-block;
    padding: 20px;
    float: right;
}

a{   
    background-color: white;   
    color: black;
    font-size: 20px;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Rubik Mono One', sans-serif;
}
.bgcolor-red{
    background-color: red;
}
.bgcolor-green{
    background-color: green;
}
.bgcolor-yellow{
    background-color: yellow;
}
.slide{
    width: 100%;
    height: 100vh;
    
}
div:first-child{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.shoe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
}
div:last-child{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#più-venduto{
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, 15%);
}
#ultimo-arrivo{
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, 15%);
}
#più-brutto{
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, 15%);
    color: green;
}
h1{
    font-family: 'Rubik Mono One', sans-serif;
    color: yellow;
    font-size: 40px;
}